body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sketchPad {
  width: 600px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
}

.grid-item {
  padding: auto;
  border: 1px solid black;
  text-align: center;
  background-color: white;
}

/* .sketchPad {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  height: 30vh;
  aspect-ratio: 1/1;
}

.grid-item {
  padding: auto;
  border: 1px solid #ddd;
  text-align: center;
} */
